<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajaz/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Emp Type</th>
          <th>Hourly Rate</th>
          <th>Total Hours</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <% records.forEach(function(row){%>
      <tr>
        <td><%= row.name %></td>
        <td><%= row.email %></td>
        <td><%= row.etype %></td>
        <td><%= row.hourlyrate %></td>
        <td><%= row.totalHour %></td>
        <td><%= row.total %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
